<Row>
    <Column>
        <div class="card @_styleClass">
            @if (!string.IsNullOrEmpty(Title))
            {
                <div class="card-header">
                    <h5 class="title">
                        @Title
                    </h5>
                </div>
            }

            <div class="card-body ">@Body</div>

            @if (Footer != null)
            {
                <div class="card-footer">@Footer</div>
            }

        </div>
    </Column>
</Row>


@code {
    private string _styleClass;

    [Parameter] public string Title { get; set; }
    [Parameter] public ElementStyle Style { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }

    protected override void OnParametersSet()
    {
        switch (Style)
        {
            case ElementStyle.Dark:
                _styleClass = "bg-dark text-white";
                break;
            default: return;
        }
    }
}