<div class="col-@Size">
    @ChildContent
</div>

@code {
    [Parameter] public int Size { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (Size == 0) Size = 12;
    }
}
