<div class="header">
    <div>
        <h3>
            @if (!string.IsNullOrWhiteSpace(Title)){
                @Title
            }
        </h3>
    </div>
</div>

<div class="container-fluid page">
    @ChildContent
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
